.active__game {
  max-width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 6vmin 15% 25vmin 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & > * {
    white-space: nowrap;
    text-align: center;
    width: 100%;
  }

  & h2 {
    font-size: 4vmin;
    font-weight: 400;
    line-height: 1;
  }

  & h1 {
    font-size: 9vmin;
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;

  }

  & input {
    text-transform: capitalize;
    height: 10vmin;
    border-radius: 3px;

    font-size: 8vmin;
    animation: blink 3s linear infinite;

    @keyframes blink {
      0% {
        border: 2px dashed #ccc;
      }
      50% {
        border: 2px dashed rgb(128, 127, 127);
      }
      100% {
        border: 2px dashed #000;
      }
    }
    
  }
  // & button {
  //   width: 100px;
  //   height: 100px;
  //   background: violet;

  // }
  
  & input:focus {
    border: 3px solid black;
  }
 
  .red__letter {
    color: #ee6a6a;
  }
}
.copy {
  position: relative;
  bottom: -20vmin;
  cursor: pointer;
  & span {
    font-size: 5vmin;
    font-weight: 500;
    color: #000;
    position: relative;
    top: -1vmin;
    left: 5px;
  }
  & img {
    height: 5vmin;
  }
}
.close {
  border: 0;
  position: relative;
  right: -9vmin;
  background: 0;
  font-size: 36px;
  cursor: pointer;
  background: transparent !important;
}
.close::after {
  height: 4px;
  width: 5vmin;
  content: '';
  position: absolute;
  background: #000;
  right: 3px;
  transform: rotate(-45deg);
  border-radius: 15px;
}
.close::before {
  right: 3px;
  height: 4px;
  width: 5vmin;
  content: '';
  position: absolute;
  background: #000;
  transform: rotate(45deg);
  border-radius: 15px;
}

.progressbar {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

.progressPercent {
  font-weight: 600;
  font-size: 4vw;
  // animation: blink 3s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color:#eee;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.progressColor {
  background-color: rgb(126, 0, 204);
      background-size: 30px 30px;
      background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%,
                        transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);
      animation: animate-stripes 3s linear infinite, gradient 15s ease infinite;
  }        
  @keyframes animate-stripes {
      0% {
      background-position: 0 0;
      }
      100% {
      background-position: 60px 0;
      }
}
.btn{
  height: 10vmin;
  font-size: 48px;
  font-weight: 600;
  border-radius: 24px;
  background-color: white;
  opacity: 0.9;
  color: #fff;
  cursor: pointer;
  text-shadow: -0 -2px 1px #000000, 0 -2px 1px #000000, -0 2px 1px #000000, 0 2px 1px #000000, -2px -0 1px #000000, 2px -0 1px #000000, -2px 0 1px #000000, 2px 0 1px #000000, -1px -2px 1px #000000, 1px -2px 1px #000000, -1px 2px 1px #000000,
    1px 2px 1px #000000, -2px -1px 1px #000000, 2px -1px 1px #000000, -2px 1px 1px #000000, 2px 1px 1px #000000, -2px -2px 1px #000000, 2px -2px 1px #000000, -2px 2px 1px #000000, 2px 2px 1px #000000, -2px -2px 1px #000000, 2px -2px 1px #000000,
    -2px 2px 1px #000000, 2px 2px 1px #000000;
}