.wrap {
  opacity: 0.7;
  width: 100%;
  padding: 50px;
}
.content {
  height: 650px;
  margin: auto 20%;
  background: rgba(217, 217, 217, 0.26);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.selectLogin {
  width: 100%;
}

.authBlock{
  display: inline-flex;
  justify-content: space-between;
  width: 373px;
}
.input {
  max-width: 373px;
  height: 60px;
  padding: 10px;
  border-radius: 15px;
  font-size: 24px;
}
.guest, .login {
  width: 50%;
  height: 70px;
  border-radius: 1%;
  border: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 4vmin;
  line-height: 39px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
.guest {
  background: transparent;
  margin-left: 0px;
}
.login {
  background: rgba(217, 217, 217, 0.26);
  margin-right: 0px;
}

.input:focus{
  outline: none;
}

.avatar {
  max-width: 260px;
}

.scrollingImage {
  background: url("../../assets/city.png") repeat-x;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (max-width: 768px) {
  .content{
    margin: 0 auto;
  }
  .authBlock{
    display: inline-flex;
    justify-content: space-evenly;
    
  }
}
