.game__finished {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finish__result {
  padding: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  & h3 {
    font-weight: 500;
    font-size: 5vmin;
    text-align: center;
  }
  & .winner__image {
    width: 20vmin;
    height: 20vmin;
  }
}
.finish__buttons {
  border-radius: 0px 0px 15px 0px;
  padding: 2vmin;
  // width: 100%;
  display: flex;
  justify-content: space-between;
  
  & button {
    margin: 2vmin;
    box-shadow: 0px 6px 6px 0px #301a6b;
    font-weight: 600;
    font-size: 3vmin;
    padding: 10px 16px;
    border-radius: 15px;
    cursor: pointer;
    color: #301a6b;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
  }  
  & .roomlist img {
    padding: 1vmin;
 
  }
  & img {
    height: 8.5vmin;
    width: 8.5vmin;
  }
}
@media (max-width: 1024px) {
  .finish__buttons  {
    flex-direction: column;
    width: 80%;
    & button {
      flex-direction: row;
      margin: 2vmin;
      justify-content: space-around;
      padding: 2vmin;
    }
  }
}