.content {
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 50px 15px 15px 15px;
  display: flex;
}
.players {
  width: 28%;
  background: rgba(74, 33, 142, 0.2);
  height: 100%;
  flex-shrink: 0;
  position: relative;
  border-radius: 50px 0px 0px 15px;
}
.board {
  width: 72%;
  height: 100%;
}
