.wrap {
  width: 100%;
  height: 100%;
  padding: 5vmin;
}
.content {
  height: 100%;
  width: 100%;
  border-radius: 50px 15px 15px 15px;
  display: flex;
}
.players {
  background: rgba(74, 33, 142, 0.2);
  height: 100%;
  flex-shrink: 0;
  position: relative;
  border-radius: 8vmin 0px 0px 15px;
  background-color: #ffffff9e;
  padding: 0.5%;
}
.myplayer{
  background-color: rgb(61, 150, 205);
}
.board {
  display: flex;
  flex-direction: column;


  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0px 15px 15px 0px;
}

.close {
 
  margin: 2vmin;
  height: 5vmin;
  border: 0;
  position: relative;
  background: 0;
  font-size: 36px;
  cursor: pointer;
  background: transparent !important;
}
.close::after {
  height: 4px;
  width: 5vmin;
  content: '';
  position: absolute;
  background: #000;
  right: 3px;
  transform: rotate(-45deg);
  border-radius: 15px;
}
.close::before {
  right: 3px;
  height: 4px;
  width: 5vmin;
  content: '';
  position: absolute;
  background: #000;
  transform: rotate(45deg);
  border-radius: 15px;
}