body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100%;
}
body, .App{
  height: 100vh;
  width: 100vw;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background: rgba(74, 33, 142, 0.7);
  padding: 40px 55px;
}
