@keyframes page-fade-in {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.35;
    }
    40%{
        opacity: 0.4;
    }


    100%{
        opacity: 0.85;
    }
}
.animated{
    animation: page-fade-in 0.5s forwards;
}